@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    /*overflow: hidden;*/
    /* background: #73a6c9; */
    /* background: #24587a; */
    background: #fff;
    /* background: #0d324b; */
    /* background: #174666; */
    /* background: linear-gradient(120deg,#2980b9, #8e44ad); */
    height: 100vh;
}

.center{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    background: white;
    width:600px;
    border-radius: 15px;
    margin-top: 40px;
}

.center h1 {
    /* text-align: center; */
    /* border-bottom: 1px grey solid; */
    padding: 0 0 0 20px;
    font-weight: 300;
}

hr {
    width: 500px;
    margin-bottom: 25px;
    border: 0;
    border-top: 2px solid #73a6c9;
}

form {
    padding: 0 25px;
}

form .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .details .txt_field {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.txt_field input {
    height: 40px;
    /* font-size: 50; */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
    /* padding-left: 15px; */
}

.txt_field input:focus,
.txt_field input:valid {
    border-color: #24587a;
}

form .row {
    display: flex;
    margin-left: 25px;

}

form .button {
    height: 45px;
    width: 300px;
    margin: 15px 25px 25px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #73a6c9;
}

form .button input:hover {
    background: #0C4F60;
 
}

form .buttonClear {
    height: 45px;
    width: 300px;
    margin: 15px 25px 25px 0;
}

form .buttonClear input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #73a6c9;
}

form .buttonClear input:hover {
    background: #e63946;
    ;
}

/* .txt_field label{
    font-weight: 400;
} */

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #24587a;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

.areyouregistered {
    text-align: center;
    width: 100%;
}

.areyouregistered a {
    text-decoration: none;
    color: #24587a;
    transition: all 0.3s ease;
}

.areyouregistered a:hover {
    text-decoration: none;
    color: #e63946;

}

.center img {
    position: absolute;
    bottom: -5px;
    left: 725px;
    width: 400px;
}

/* HEADER */
header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #e63946;
    color: #fff;
}


header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 25px 0 100px;
    transition: 0.6s;
}

header .logo {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header .navigation {
    position: relative;
    right: 125px;
    line-height: 75px;
    transition: 0.6s;
    transition-property: line-height;
}

header.sticky .navigation {
    line-height: 60px;
}

header .navigation .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

header.sticky .menu-item .sub-menu {
    top: 60px;
}

/* LOGO */
header .logo {
	position: relative;
	color: #000;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
  }
  header .logo{
	color: #fff;
	font-size: 1.8em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
  }
  
  .logo img{
	position: relative;
	width: 150px;
	top: 5px;
	transition: 0.3s;
	/* margin: 10px 0; */
	/* padding: 20px 0; */
  }

  /* FOOTER */
  footer {
	position: absolute;
	width: 1700px;
    background: #0C4F60;
    padding: 2em;
    margin-top: 750px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  footer h5 {
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: var(--heading-font);
    color: #a8dadc;
    margin: 0.5rem 0;
  }
  
  footer p {
    font-size: clamp(1rem, 1vw, 3rem);
  }
  
  .address,
  .me {
    color: #fff;
  }
  
  .me {
    margin-top: 1rem;
  }
  
  .contact-links {
    grid-template-columns: repeat(auto-fit, minmax(1.5rem, 1fr));
  }
  
  .contact i,
  .contact a {
    font-size: 3rem;
    color: rgb(0, 0, 0, 0.6);
    width: 3rem;
  }
